*{
    -fx-base-color-focus: #09b6bc;
    -fx-base-color-etiquetas: #4d4d4d;
    -fx-base-color-titulos: #54b6cd;
}

.mfx-text-field{
    -mfx-main:  -fx-base-color-focus;
    -fx-pormpt-text-fill:   -fx-base-color-etiquetas;
    -mfx-float-mode : BORDER;
    -fx-font-size: 14px;
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-max-height: 40px;
    -fx-text-fill: black;
    -fx-aligment:   TOP_LEFT;
}

.mfx-checkbox{
      -mfx-main:  -fx-base-color-focus;
     -fx-font-size: 14px;
    -fx-min-height: 26px;
    -fx-pref-height: 26px;
    -fx-max-height: 26px;
    -fx-text-fill: -fx-base-color-etiquetas;
    
}

.mfx-date-picker{
     -fx-font-size: 14px;
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-max-height: 40px;
    
    
    
}

.mfx-date-picker:focus-within.icon{
   -mfx-color: -fx-base-color-focus;

}

.mfx-button{
-mfx-button-type: RAISED;
-fx-opacity: 0.8;
-fx-content-display:left;
-fx-text-fill: white;
fx-font-weight: bold;
-fx-font-size: 14px;
-fx-alignment: CENTER_LEFT;
    
    
}

.button:hover{
    -fx-background-color: #FF6D00
}


    
.jfx-btn-nuevo, .jfx-btn-nuevo:armed, .jfx-btn-nuevo:focused{
    -fx-background-color:#2196F3
   
}
    
.jfx-btn-nuevo > ImageView{
    -fx-image: url("../resources/Agregar-48.png")
    
    
}

.separator{
      -fx-background-color: -fx-base-color-focus;
       
}

.jfx-panel-control{
    -fx-background-color: #2196F3;
    -fx-opacity: 0.8;
   
}

.jfx-panel-control>AnchorPane{
    -fx-background-color: white;
    -fx-border-color: #97a692;
    -fx-border-width: 10px;
}

.jfx-titulo-label{
    -fx-font-size: 24px;
    -fx-padding: 5 0 5 0;
    -fx-text-fill: -fx-base-color-titulos;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 2,0.0,1,2);
    
}